.nav header{
  width: 100%;

  height: 80px;
  border-bottom: 1px solid;
  position: fixed;
    top: 0;
    left: 0;
   
    background-color: #8d69c8;
   
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; */
    box-shadow: 0 2px 8px rgba(54, 50, 50, 0.25);
    z-index: 10;
}
.nav{
       color: white;
       margin: 0 auto;
}
.nav ul {
  list-style: none;
 text-decoration:aliceblue;
  display: flex;
  justify-content: center;
 padding: 10px  ; 

}
.nav li{
    padding-left: 20px;
    font-size: 25px; 
  
     
}

